nav 
{
    margin: 20px 0;
}
nav a
{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Adds a smooth transition on color change */
}
nav a:hover 
{
    color: #fffdd0; /* Color when hovered */
}
.dropdown-container 
{
margin: 20px;
}
label {
font-weight: bold;
display: block;
margin-bottom: 5px;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: Arial, sans-serif;
background-color: #3892f2;
color: #fffdd0;
}

.faq-container {
width: 80%;
max-width: 600px;
margin: 40px auto;
padding: 20px;
background-color: #ffffff;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
text-align: center;
font-size: 2em;
color: midnightblue;
margin-bottom: 20px;
}
.faq-item {
margin-bottom: 10px;
}
.faq-question {
display: block;
padding: 15px;
font-size: 1.1em;
color: #fffdd0;
cursor: pointer;
background-color: midnightblue;
border: 1px solid #ffffff;
border-radius: 5px;
}
.faq-answer {
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease;
padding-left: 15px;
}
.faq-answer p {
padding: 10px;
color: midnightblue;
}
input[type="checkbox"] {
display: none;
}
input[type="checkbox"]:checked ~ .faq-answer {
max-height: 200px; /* Adjust based on answer length */
}

