body {
    font-family: Arial, sans-serif;
    background-color: #ffb6c1;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #000000;
}
.contact-info {
    background-color: #ffe7e9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 
}
.contact-info p {
    font-size: 18px;
    color: #000000;
}
.contact-info a {
    color: #000000;
    text-decoration: none;
}
.social-media {
    text-align: center;
    margin-top: 20px;
}
.social-media a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}
.social-media a i {
    color: #ffe7e9;
}
.social-media a:hover i {
    color: #0066cc;
}

h2 {
    text-align: center;
    color: #000000;
}

h3 {
    text-align: center;
    color: #000000;
}
header {
    background-color: #ffe7e9;
    padding: 20px;
    text-align: left;
    color: midnightblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form p {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #000000;
}
label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #000000;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #a94064;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #a94064;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}
input[type="submit"]:hover {
    background-color: #0055a3;
}



footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #a94064;
    color: #fff;
}
nav {
  margin: 20px 0;
}
nav a {
  color: #000000;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; 
}
nav a:hover {
  color: #000000; /* Color when hovered */
}
