body {
    font-family: Arial, sans-serif;
    background-color: midnightblue;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #ffffff;
}
.contact-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 
}
.contact-info p {
    font-size: 18px;
    color: midnightblue;
}
.contact-info a {
    color: #ffffdd0;
    text-decoration: none;
}
.social-media {
    text-align: center;
    margin-top: 20px;
}
.social-media a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}
.social-media a i {
    color: #ffffff;
}
.social-media a:hover i {
    color: #0066cc;
}

h2 {
    text-align: center;
    color: #fffdd0;
}

h3 {
    text-align: center;
    color: #fffdd0;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}
input[type="submit"]:hover {
    background-color: #0055a3;
}



footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
}
