body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #fffdd0;
    padding: 20px;
    text-align: left;
    color: midnightblue;
}

nav {
    margin: 20px 0;
}

nav a {
    color: midnightblue;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Adds a smooth transition on color change */
}

nav a:hover {
    color: blue; /* Color when hovered */
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #fffdd0;
    border-radius: 8px;
    background-color: midnightblue;
}

h1 {
    text-align: center;
    color: midnightblue;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    color: #FFFDD0;
}

h3 {
    text-align: center;
    color: midnightblue;
}

title {
    color: #FFFDD0;

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.gallery img:hover {
    transform: scale(2);
}

.team-member {
    margin-bottom: 30px;
    text-align: left;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

footer {
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
}

.center {
    text-align: left;
}

/* Responsive design */
@media screen and (max-width: 700px) {
    .center, nav, .gallery {
        flex-direction: column;
    }
}
