body {
    font-family: Arial, sans-serif;
    background-color: #ffb6c1;
    color: #000000;
    line-height: 1.6;
    padding: 20px;
}
header {
    background-color: #ffe7e9;
    padding: 20px;
    text-align: left;
    color: midnightblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container {
    max-width: 800px;
    margin: auto;
}
h1, h2 {
    text-align: center;
    color: #000000;
}
.team-member {
    margin-bottom: 30px;
    text-align: center;
}
.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}
nav {
  margin: 20px 0;
}
nav a {
  color: #000000;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; 
}
nav a:hover {
  color: #000000; /* Color when hovered */
}
