body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    color: #fffdd0;
    line-height: 1.6;
}

header {
    background-color: #fffdd0;
    padding: 20px;
    text-align: left;
    color: midnightblue;
}

nav {
    margin: 20px 0;
}

nav a {
    color: midnightblue;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Adds a smooth transition on color change */
}

nav a:hover {
    color: blue; /* Color when hovered */
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #fffdd0;
    border-radius: 8px;
    background-color: midnightblue;
}

h1 {
    text-align: center;
    color: midnightblue;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    color: #FFFDD0;
}

h3 {
    text-align: center;
    color: midnightblue;
}

title {
    color: #FFFDD0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.gallery img:hover {
    transform: scale(2);
}

.team-member {
    margin-bottom: 30px;
    text-align: left;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hover Effect for Desktop */
.carousel-item img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

/* Buttons */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

/* Responsive Design */
@media (max-width: 700px) {
    .carousel-item img:hover {
        transform: none;
    }
}


.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

footer {
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
}

.center {
    text-align: left;
}

/* Responsive design */
@media screen and (max-width: 700px) {
    .center, nav, .gallery {
        flex-direction: column;
    }
}
